@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111827; /* --card color */
}
::-webkit-scrollbar-thumb {
  background: #8B5CF6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c4ee4;
}